/* 
	=================
	Backgrounds
	=================
*/
// Brand colors
@for $i from 1 through length($brand-colors-list) {
	.bg-#{nth($brand-colors-sufix-list, $i)} {background-color: #{nth($brand-colors-list, $i)} !important};
	.bg-#{nth($brand-colors-sufix-list, $i)}-shade {background-color: #{darken(nth($brand-colors-list, $i), 21%)} !important;}
}
// Grayscale
@for $i from 1 through length($grayscale-list) {
	.bg-#{nth($grayscale-sufix-list, $i)} {background-color: #{nth($grayscale-list, $i)} !important};
	.bg-#{nth($grayscale-sufix-list, $i)}-shade {background-color: #{darken(nth($grayscale-list, $i), 21%)} !important;}
}
// Social colors
@for $i from 1 through length($social-colors-list) {
	.bg-#{nth($social-colors-sufix-list, $i)} {background-color: #{nth($social-colors-list, $i)} !important};
	.bg-#{nth($social-colors-sufix-list, $i)}-shade {background-color: #{darken(nth($social-colors-list, $i), 21%)} !important;}
}

// RGBA Backgrounds
@for $i from 1 through length($brand-colors-list) {
	.bg-#{nth($brand-colors-sufix-list, $i)}-op {background-color: #{rgba(nth($brand-colors-list, $i), 0.7)} !important};
}
// Grayscale
@for $i from 1 through length($grayscale-list) {
	.bg-#{nth($grayscale-sufix-list, $i)}-op {background-color: #{rgba(nth($grayscale-list, $i), 0.7)} !important}; 
}
// Social colors
@for $i from 1 through length($social-colors-list) {
	.bg-#{nth($social-colors-sufix-list, $i)}-op {background-color: #{rgba(nth($social-colors-list, $i), 0.7)} !important};
}

/* 
	=================
	TEXT COLOR
	=================
*/

// Contextual emphasis
@for $i from 1 through length($brand-colors-list) {
  .text-#{nth($brand-colors-sufix-list, $i)} { 
    a {
      color: #{nth($brand-colors-list, $i)} !important;
      &:hover {
        color: #{darken(nth($brand-colors-list, $i), 21%)} !important;
      }
    }
    color: #{nth($brand-colors-list, $i)} !important;
  }
  a.text-#{nth($brand-colors-sufix-list, $i)} { 
    &:hover {
      color: #{darken(nth($brand-colors-list, $i), 21%)} !important;
    }
  }
}

@for $i from 1 through length($grayscale-list) {
  .text-#{nth($grayscale-sufix-list, $i)} {
    a {
      color: #{nth($grayscale-list, $i)} !important;
      &:hover {
        color: #{darken(nth($grayscale-list, $i), 21%)} !important;
      }
    }
    color: #{nth($grayscale-list, $i)} !important;
  }
  a.text-#{nth($grayscale-sufix-list, $i)} {
    &:hover {
      color: #{darken(nth($grayscale-list, $i), 21%)} !important;
    }
  }
}

@for $i from 1 through length($social-colors-list) {
  .text-#{nth($social-colors-sufix-list, $i)} {
    a {
      color: #{nth($social-colors-list, $i)} !important;
      &:hover {
        color: #{darken(nth($social-colors-list, $i), 21%)} !important;
      }
    }
    color: #{nth($social-colors-list, $i)} !important;
  }
  a.text-#{nth($social-colors-sufix-list, $i)} {
    &:hover {
      color: #{darken(nth($social-colors-list, $i), 21%)} !important;
    }
  }
}

/* 
  =================
  TEXT HOVER COLOR
  =================
*/

// Contextual emphasis hover
@for $i from 1 through length($brand-colors-list) {
  .text-hover-#{nth($brand-colors-sufix-list, $i)} {
    &:hover {
      color: #{darken(nth($brand-colors-list, $i), 12%)} !important;
    }
  }
  a.text-hover-#{nth($brand-colors-sufix-list, $i)} {
    &:hover {
      color: #{darken(nth($brand-colors-list, $i), 12%)} !important;
    }
  }
}

@for $i from 1 through length($grayscale-list) {
  .text-hover-#{nth($grayscale-sufix-list, $i)} {
    &:hover {
      color: #{darken(nth($grayscale-list, $i), 12%)} !important;
    }
  }
  a.text-hover-#{nth($grayscale-sufix-list, $i)} {
    &:hover {
      color: #{darken(nth($grayscale-list, $i), 12%)} !important;
    }
  }
}

@for $i from 1 through length($social-colors-list) {
  .text-hover-#{nth($social-colors-sufix-list, $i)} {
    &:hover {
      color: #{darken(nth($social-colors-list, $i), 12%)} !important;
    }
  }
  a.text-hover-#{nth($social-colors-sufix-list, $i)} {
    &:hover {
      color: #{darken(nth($social-colors-list, $i), 12%)} !important;
    }
  }
}

// Contextual emphasis hover
@for $i from 1 through length($brand-colors-list) {
  .bg-hover-#{nth($brand-colors-sufix-list, $i)} {
    &:hover {
      background-color: #{darken(nth($brand-colors-list, $i), 12%)} !important;
    }
  }
  a.bg-hover-#{nth($brand-colors-sufix-list, $i)},
  .btn.bg-hover-#{nth($brand-colors-sufix-list, $i)} {
    &:hover {
      background-color: #{darken(nth($brand-colors-list, $i), 12%)} !important;
    }
  }
}

@for $i from 1 through length($grayscale-list) {
  .bg-hover-#{nth($grayscale-sufix-list, $i)} {
    &:hover {
      background-color: #{darken(nth($grayscale-list, $i), 12%)} !important;
    }
  } 
  a.bg-hover-#{nth($grayscale-sufix-list, $i)},
  .btn.bg-hover-#{nth($grayscale-sufix-list, $i)} {
    &:hover {
      background-color: #{darken(nth($grayscale-list, $i), 12%)} !important;
    }
  }
}

@for $i from 1 through length($social-colors-list) {
  .bg-hover-#{nth($social-colors-sufix-list, $i)} {
    &:hover {
      background-color: #{darken(nth($social-colors-list, $i), 12%)} !important;
    }
  }
  a.bg-hover-#{nth($social-colors-sufix-list, $i)},
  .btn.bg-hover-#{nth($social-colors-sufix-list, $i)} {
    &:hover {
      background-color: #{darken(nth($social-colors-list, $i), 12%)} !important;
    }
  }
}

// CHILDREN TEXT ELEMENTS COLOR CONTROL
@for $i from 1 through length($text-elements-list) {
  @for $z from 1 through length($brand-colors-list) {
    .#{nth($text-elements-list, $i)}-ch-#{nth($brand-colors-sufix-list, $z)} {
      #{nth($text-elements-list, $i)} {
        color: #{nth($brand-colors-list, $z)} !important;
      }
    }
  }
}

@for $i from 1 through length($text-elements-list) {
  @for $z from 1 through length($grayscale-list) {
    .#{nth($text-elements-list, $i)}-ch-#{nth($grayscale-sufix-list, $z)} {
      #{nth($text-elements-list, $i)} {
        color: #{nth($grayscale-list, $z)} !important;
      }
    }
  }
}