// Box Model abbreviations list
$box-model-abbr: 
  'p', 
  'pt', 
  'pr', 
  'pb', 
  'pl', 
  'm', 
  'mt', 
  'mr', 
  'mb', 
  'ml';

$box-model-sides: 
  'padding', 
  'padding-top', 
  'padding-right', 
  'padding-bottom', 
  'padding-left', 
  'margin', 
  'margin-top', 
  'margin-right', 
  'margin-bottom', 
  'margin-left';

$box-model-ch-abbr: 
  'p-ch', 
  'pt-ch', 
  'pr-ch', 
  'pb-ch', 
  'pl-ch', 
  'm-ch', 
  'mt-ch', 
  'mr-ch', 
  'mb-ch', 
  'ml-ch';

$box-model-ch-abbr-percentage: 
  'pp-ch', 
  'ptp-ch', 
  'prp-ch', 
  'pbp-ch', 
  'plp-ch', 
  'mp-ch', 
  'mtp-ch', 
  'mrp-ch', 
  'mbp-ch', 
  'mlp-ch';

$media-control-list: 
  $xs-only, 
  $sm-up, 
  $md-up, 
  $lg-up;

@for $i from 0 through 10 {
  @for $j from 1 through length($box-model-sides) {
    .#{nth($box-model-abbr, $j)}-#{$i*$times} {
      // For <IE8
      #{nth($box-model-sides, $j)}: ($i*$times) + px !important;
      // REMs for modern browsers
      @if $px-to-rems == true {
        #{nth($box-model-sides, $j)}: rem($i*$times) !important;
      }
    }
    
    @for $k from 1 through length($breakpoints-sufix-list) {
      @media #{nth($media-control-list, $k)} {
        .#{nth($box-model-abbr, $j)}-#{$i*$times}-#{nth($breakpoints-sufix-list, $k)} {          
          // For <IE8
          #{nth($box-model-sides, $j)}: ($i*$times) + px !important;
          // REMs for modern browsers
          @if $px-to-rems == true {
            #{nth($box-model-sides, $j)}: rem($i*$times) !important;
          }
        }
        @if $percentage == true {
          .#{nth($box-model-abbr, $j)}p-#{$i*$times}-#{nth($breakpoints-sufix-list, $k)} {
            #{nth($box-model-sides, $j)}: percentage(($i*($times/100))) !important; 
          }
        }
      }
    }

    @if $percentage == true {
      .#{nth($box-model-abbr, $j)}p-#{$i*$times} {
        #{nth($box-model-sides, $j)}: percentage(($i*($times/100))) !important;
      }
    }
  }
}

// BOX MODEL CHILDREN ELEMENTS
@for $i from 0 through 10 {
  @for $j from 1 through length($box-model-sides) {

    .#{nth($box-model-ch-abbr, $j)}-#{$i*$times} {
      > a, > span, > div, > li, > p, > h1, > h2, > h3, > h4, > h5, > h6, > ul, > ol, > section {
        // For <IE8
        #{nth($box-model-sides, $j)}: ($i*$times) + px !important;
        // REMs for modern browsers
        @if $px-to-rems == true {
          #{nth($box-model-sides, $j)}: rem($i*$times) !important;
        }
      }
    }
    @if $percentage == true {
      .#{nth($box-model-ch-abbr-percentage, $j)}-#{$i*$times} {
        > a, > span, > div, > li, > p, > h1, > h2, > h3, > h4, > h5, > h6, > ul, > ol, > section {
          #{nth($box-model-sides, $j)}: percentage(($i*($times/100))) !important;
        }
      }
    }

    @for $k from 1 through length($breakpoints-sufix-list) {
      @media #{nth($media-control-list, $k)} {
        .#{nth($box-model-ch-abbr, $j)}-#{$i*$times}-#{nth($breakpoints-sufix-list, $k)} {
          > a, > span, > div, > li, > p, > h1, > h2, > h3, > h4, > h5, > h6, > ul, > ol, > section {
            // For <IE8
            #{nth($box-model-sides, $j)}: ($i*$times) + px !important;
            // REMs for modern browsers
            @if $px-to-rems == true {
              #{nth($box-model-sides, $j)}: rem($i*$times) !important;
            }
          }
        }
        @if $percentage == true {
          .#{nth($box-model-ch-abbr-percentage, $j)}-#{$i*$times}-#{nth($breakpoints-sufix-list, $k)} {
            > a, > span, > div, > li, > p, > h1, > h2, > h3, > h4, > h5, > h6, > ul, > ol, > section {
              #{nth($box-model-sides, $j)}: percentage(($i*($times/100))) !important;
            }
          }
        }
      }
    }
  }
}

// PADDING VERTICAL & HORIZONTAL
@for $i from 0 through 10 {
  .pv-#{$i*$times} {
    padding-top: #{$i*$times} + px;
    padding-bottom: #{$i*$times} + px;
    padding-top: rem($i*$times);
    padding-bottom: rem($i*$times);
  }
  .pv-ch-#{$i*$times} {
    > a, > span, > div, > li, > p, > h1, > h2, > h3, > h4, > h5, > h6, > ul, > ol, > section {
      padding-top: #{$i*$times} + px;
      padding-bottom: #{$i*$times} + px;
      padding-top: rem($i*$times);
      padding-bottom: rem($i*$times);
    }
  }
  @for $k from 1 through length($breakpoints-sufix-list) {
    @media #{nth($media-control-list, $k)} {
      .pv-#{$i*$times}-#{nth($breakpoints-sufix-list, $k)} {
        padding-top: #{$i*$times} + px;
        padding-bottom: #{$i*$times} + px;
        padding-top: rem($i*$times);
        padding-bottom: rem($i*$times);
      }
      .pv-ch-#{$i*$times}-#{nth($breakpoints-sufix-list, $k)} {
        > a, > span, > div, > li, > p, > h1, > h2, > h3, > h4, > h5, > h6, > ul, > ol, > section {
          padding-top: #{$i*$times} + px;
          padding-bottom: #{$i*$times} + px;
          padding-top: rem($i*$times);
          padding-bottom: rem($i*$times);
        }
      }
      .pvp-#{$i*$times}-#{nth($breakpoints-sufix-list, $k)} {
        padding-top: percentage(($i*($times/100))) !important;
        padding-bottom: percentage(($i*($times/100))) !important;
      }
    }
  }
  @if $percentage == true {
    .pvp-#{$i*$times} {
      padding-top: percentage(($i*($times/100))) !important;
      padding-bottom: percentage(($i*($times/100))) !important;
    }
  }
}

@for $i from 0 through 10 {
  .ph-#{$i*$times} {
    padding-left: #{$i*$times} + px;
    padding-right: #{$i*$times} + px;
    padding-left: rem($i*$times);
    padding-right: rem($i*$times);
  }
  .ph-ch-#{$i*$times} {
    > a, > span, > div, > li, > p, > h1, > h2, > h3, > h4, > h5, > h6, > ul, > ol, > section {
      padding-left: #{$i*$times} + px;
      padding-right: #{$i*$times} + px;
      padding-left: rem($i*$times);
      padding-right: rem($i*$times);
    }
  }
  @for $k from 1 through length($breakpoints-sufix-list) {
    @media #{nth($media-control-list, $k)} {
      .ph-#{$i*$times}-#{nth($breakpoints-sufix-list, $k)} {
        padding-left: #{$i*$times} + px;
        padding-right: #{$i*$times} + px;
        padding-left: rem($i*$times);
        padding-right: rem($i*$times);
      }
      .ph-ch-#{$i*$times}-#{nth($breakpoints-sufix-list, $k)} {
        > a, > span, > div, > li, > p, > h1, > h2, > h3, > h4, > h5, > h6, > ul, > ol, > section {
          padding-left: #{$i*$times} + px;
          padding-right: #{$i*$times} + px;
          padding-left: rem($i*$times);
          padding-right: rem($i*$times);
        }
      }
      .php-#{$i*$times}-#{nth($breakpoints-sufix-list, $k)} {
        padding-left: percentage(($i*($times/100))) !important;
        padding-right: percentage(($i*($times/100))) !important;
      }
    }
  }
  @if $percentage == true {
    .php-#{$i*$times} {
      padding-left: percentage(($i*($times/100))) !important;
      padding-right: percentage(($i*($times/100))) !important;
    }
  }
}