.flex {
	@include display(flex);
	&.flex-column {
		@include flex-direction(column);
	}
	&.flex-row {
		@include flex-direction(row);
	}
	&.flex-middle {
		@include justify-content(center);
	}
	&.flex-center {
		@include align-items(center);
	}
	&.flex-space-between {
		@include justify-content(space-between);
		@include list-unstyled;
	}
	> h1, > h2, > h3, > h4, > h5, > h6, > p, > a, > div, > strong, > span, > form {
		// max-height: 140px;
		&.flex-0 {
			@include flex-grow(0);
		}
		&.flex-1 {
			@include flex-grow(1);
		}
		&.flex-2 {
			@include flex-grow(2);
		}
	}
}