// HORIZONTAL RULES
// Horizontal Rules Custom
$hr-width: 2px;
$hr-style: solid;

hr {
	position: relative;
}

@for $i from 1 through length($brand-colors-sufix-list) {
	hr {
		&.hr-#{nth($brand-colors-sufix-list, $i)},
		&.hr-custom-#{nth($brand-colors-sufix-list, $i)} {
			border-top: $hr-width $hr-style #{nth($brand-colors-list, $i)} !important;
			margin: $container-fluid 0;
		}
		&.hr-#{nth($brand-colors-sufix-list, $i)} {
		}
		&.hr-custom-#{nth($brand-colors-sufix-list, $i)} {
			&:before {
				width: 140px;
				height: 3px;
				position: absolute;
				content: "";
				background: #{nth($brand-colors-list, $i)};
			}
		}
	}
}
@for $i from 1 through length($grayscale-sufix-list) {
	hr {
		&.hr-#{nth($grayscale-sufix-list, $i)},
		&.hr-custom-#{nth($grayscale-sufix-list, $i)}{
			border-top: $hr-width $hr-style #{nth($grayscale-list, $i)} !important;
			margin: $container-fluid 0;
		}
		&.hr-#{nth($grayscale-sufix-list, $i)} {
		}
		&.hr-custom-#{nth($grayscale-sufix-list, $i)} {
			&:before {
				width: 140px;
				height: 3px;
				position: absolute;
				content: "";
				background: #{nth($grayscale-list, $i)};
			}
		}
	}
}

.hr-custom-center {
	&:before {
		left: 45%;
	}
}
.hr-custom-right {
	&:before {
		right: $container-fluid;
	}
}