.row.mb-21
  .col-md-4(ng-repeat="provider in providers | filter: search ")  
    .bg-img-block.mt-7(style = "height: 150px; background-image: url('{{provider.avatar}}');")
      
    .bg-gray-lighter.p-14
      %small.fz-xs Desde
      %h4.text-primary.lh-xs.mv-0 Mex ${{provider.price}}
      %small.text-primary.fz-xs por noche
      %h5.bold.m-0 {{ provider.name }}
      %small(ng-repeat="state in provider.states ") 
        {{ state }}
      %a{:href => "#"}
        %p.lh-sm.mb-0.text-gray.fz-xs {{ provider.description }}
      .hidden-md.separator.separator-gray-dark.separator-centered.mt-0.separator-full-width
      .row
        .col-md-8.pr-0
          .rating-reviews.pl-14.mt-7
        .col-md-4.pl-0
          .fz-xxs
            14
            %span.fz-xs comentarios
              
              
