<option value=""> <%=current_country.id == 2 ? "Seleccione un Barrio" : "Seleccione un Municipio"%></option>
<% @locations.order(:name).each do |location| %>
  <option value="<%= location.id %>"><%= location.name %></option>
<% end %>