.benefits
  .row.even
    %center.col-md-12
      %img(src="assets/beneficios-seguro-salud.svg")
      %h1 Seguro para tu perrito
      %p Tu perrito tendrá cobertura contra accidentes durante su estadía con nuestros cuidadores asociados.
  .row.odd
    %center.col-md-12
      %img(src="assets/beneficios-cuidadores-especializados.svg")
      %h1 Cuidadores certificados
      %p Nuestros cuidadores asociados pasan por un riguroso proceso de certificación, basado en estándares internacionales y mediante los que evaluamos su integridad, conocimientos y experiencia en el cuidado de perros
  .row.even
    %center.col-md-12
      %img(src="assets/beneficios-fotos.svg")
      %h1 Fotografias y videos diarios
      %p Desde el momento en el que tu perrito llega al hogar de nuestros cuidadores asociados, se toman fotografías y/o videos que serán compartidos contigo de manera diaria para que puedas ver cómo la están pasando en su estadía.  Nuestro personal monitorea de manera constante a los cuidadores asociados mientras tu amigo vive la experiencia Kmimos.
      %figure.photoDisplay
        %img#Photo1(src="assets/mascota1.jpg" alt="img01") 
        %img#Photo2(src="assets/mascota2.jpg" alt="img02")
        %img#Photo3(src="assets/mascota3.jpg" alt="img03")
        %img#Photo4(src="assets/mascota4.jpg" alt="img04")
        %img#Photo5(src="assets/mascota5.jpg" alt="img05") 
  .row.odd
    %center.col-md-12
      %img(src="assets/beneficios-atencion24_7.svg")
      %h1 Atencion personalizada
      %p Brindamos cualquier apoyo necesario para garantizar que tu perrito disfruta la experiencia mas placentera que jamás haya tenido, y para ello tanto los clientes como cuidadores asociados Kmimos recibirán atención 24 horas durante la estadía de tu perrito.