%center
  %h1 Cuidadores Sugeridos
  %br
%div(ng-app="providers_module")
  %div(ng-controller="ProvidersController")
    .container-fluid.pb-14
      .row
        .col-md-2.padding-0
          .form-filter
            %h3.text-header Buscar cuidador  
            %p Selecciona donde, cuando y que necesitas para dejar tu perrito.
            = search_form_for @search do |f|
              .form-group
                %input.form-control.datepicker{value: session[:from_date]}(placeholder="Desde" name="from_date")
              .form-group
                %input.form-control.datepicker{value: session[:to_date]}(placeholder="Hasta" name="to_date")
              .form-group
                %label Municipio
                %br
                = f.grouped_collection_select(:locations_id_eq, State.where("country_id=?",@country.id).order(:name), :locations, :name, :name, :name , {:prompt => @country.id == 2 ? "Elegir Barrio" : "Elegir Municipio o Delegaci칩n"}, 'ng-model': "search.locations", class: "form-control", "multiple":"")  #, html_input: {'ng-model': ''}
              .form-group
                %label Rango de Precio
                %br
                %rzslider(rz-slider-model="search.price" rz-slider-floor="search.price.floor" rz-slider-ceil="search.price.ceil" rz-slider-model="search.price.min" rz-slider-high="search.price.max" )
              .form-group
                %label Tama침o de Perro
                %br
                %input(type="checkbox" checked ng-model="search.sizes[0]" ng-true-value="Peque침os" data-ng-false-value='') Peque침o
                %br
                %input(type="checkbox" checked ng-model="search.sizes[1]" ng-true-value="Medianos" data-ng-false-value='') Mediano
                %br
                %input(type="checkbox" checked ng-model="search.sizes[2]" ng-true-value="Grandes" data-ng-false-value='') Grande
              .row
                %label Cantidad de Perros
              .row
                .col-xs-6
                  %input(type="checkbox" checked ng-model="search.number_of" ng-true-value="1" data-ng-false-value='') 1
                .col-xs-6
                  %input(type="checkbox" checked ng-model="search.number_of" ng-true-value="3" data-ng-false-value='') 3
              .row
                .col-xs-6
                  %input(type="checkbox" checked ng-model="search.number_of" ng-true-value="2" data-ng-false-value='') 2
                .col-xs-6
                  %input(type="checkbox" checked ng-model="search.number_of" ng-true-value="4" data-ng-false-value='') 4 o mas
              %br
              .form-group
                %label Servicios Adicionales
                %div(ng-repeat="service in services ")
                  %input(type="checkbox" checked ng-model="search.sel_service[service.id]" ng-true-value="{{service.id}}" data-ng-false-value='') {{service.service_name}}
                  %br
        .col-md-8{style: "padding: 0px !important; margin: 0px;"}
          =render partial: 'grid'
        .col-md-2
          #map_canvas
            %ui-gmap-google-map(center='filteredProviders[0].coords' zoom='map.zoom' control='map.control' options='mapOptions')
              %ui-gmap-markers(models="map.markers" coords="'self'" icon="'icon'") 
                %ui-gmap-windows(models="map.markers" show="show" doRebuildAll='true' ng-cloak='')
                  %div(ng-non-bindable='')
                    %img(src="{{provider.avatar}}" width= '100px' )
                    %p {{provider.name}}


= render "layouts/modal"

:javascript
  $("#q_locations_id_eq").select2();

  $('.datepicker').datepicker();
  $('body').attr("style","background-color:#f7f7f7");
