<div class="container mt-70 content">
	<div class="row list-profiles">   
	  <div class="col-md-12 p-0">
			<div class="col-md-3 pt-14 pb-14">
				<%= image_tag("profile.png", :class => "img-circle" ) %>
			</div>
			<div class="col-md-4 pt-21 pb-21">
				<h5>Nombre A.</h5>
				<span><p><i class="fa fa-check"></i>Servicio Doméstico<p></span>
				<span><p><i class="fa fa-map-marker"> Los Olivos, Santiago de Surco, Lima.</p></i></span>
				<div class="ec-stars-wrapper">
					<a href="#" data-value="1" title="Votar con 1 estrellas">★</a>
					<a href="#" data-value="2" title="Votar con 2 estrellas">★</a>
					<a href="#" data-value="3" title="Votar con 3 estrellas">★</a>
					<a href="#" data-value="4" title="Votar con 4 estrellas">★</a>
					<a href="#" data-value="5" title="Votar con 5 estrellas">★</a>
				</div>
			</div>
			<div class="col-md-5 text-center mt-56 p-0">
				<button class="job btn btn-primary" data-toggle="modal" data-target=".modal-1">Contrátame <br> S/28.00/hr</button>
			</div> 
		</div>
	</div>
	<div class="mt-56 row list-profiles">   
	  <div class="col-md-12 p-0">
			<div class="col-md-3 pt-14 pb-14">
				<%= image_tag("Aviary.png", :class => "img-circle" ) %>
			</div>
			<div class="col-md-4 pt-21 pb-21">
				<h5>Nombre A.</h5>
				<span><p><i class="fa fa-check"></i>Servicio Doméstico<p></span>
				<span><p><i class="fa fa-map-marker"> Los Olivos, Santiago de Surco, Lima.</p></i></span>
			</div>
			<div class="col-md-5 text-center mt-56 p-0">
				<button class="job btn btn-primary" data-toggle="modal" data-target=".modal-1">Contrátame <br> S/28.00/hr</button>
			</div> 
		</div>
	</div>
</div>
	
<!-- PROFILE MODALS -->
<div class="modal fade modal-1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title text-center" id="myModalLabel"><img src="img/logo_servi-hogar.png"></h4>
      </div> 
      <div class="modal-body">
        <section id="mini-profiles">          
          <div class="container-fluid bg-white mt-35">
            <div class="row">
              <div class="profile-view">
                <div class="col-md-3">
                  <div class="profile-pic">
                    <img src="img/aviary.png" class="img-circle img-responsive">
                    <h3>Lorena N.</h3>
                    <button class="job btn btn-sm btn-primary">CONTRATAR</button>
                    <br>
                    <a href="vistas/perfil.html" class=".text-primary "><h4>Ver perfil</h4></a>
                  </div>
                </div >
                <div class="col-md-6">
                  <div class="info">
                    <h2>Hola, soy Lorena.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                    <p>Soy una Server desde el <strong>2014</strong>.</p>
                    <p>He hecho <strong>57 servicios</strong>.</p>
                    <p>Soy<strong> muy eficaz</strong>.</p>
                    <p>Tengo un <strong>vehiculo</strong> si necesitas uno.</p>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="coment">
                    <h3><strong>96%</strong> Rating Positivo</h3> 
                    <p>"Lorena es una grandiosa persona, estoy muy feliz de haber contratado sus servicios, es muy eficiente. Me encantaria volver a contactarla."</p>
                    <button class="btn"><strong>+</strong> Comentarios</button>
                  </div>
                </div>
              </div> 
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<div class="modal fade modal-2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title text-center" id="myModalLabel"><img src="img/logo_servi-hogar.png"></h4>
      </div> 
      <div class="modal-body">
        <section id="mini-profiles">          
          <div class="container-fluid bg-white mt-35">
            <div class="row">
              <div class="profile-view">
                <div class="col-md-3">
                  <div class="profile-pic">
                    <img src="img/profile.png" class="img-circle img-responsive">
                    <h3>Lorena N.</h3>
                    <button class="job btn btn-sm btn-primary">CONTRATAR</button>
                    <br>
                    <a href="vistas/perfil.html" class=".text-primary "><h4>Ver perfil</h4></a>
                  </div>
                </div >
                <div class="col-md-6">
                  <div class="info">
                    <h2>Hola, soy Lorena.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                    <p>Soy una Server desde el <strong>2014</strong>.</p>
                    <p>He hecho <strong>57 servicios</strong>.</p>
                    <p>Soy<strong> muy eficaz</strong>.</p>
                    <p>Tengo un <strong>vehiculo</strong> si necesitas uno.</p>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="coment">
                    <h3><strong>96%</strong> Rating Positivo</h3> 
                    <p>"Lorena es una grandiosa persona, estoy muy feliz de haber contratado sus servicios, es muy eficiente. Me encantaria volver a contactarla."</p>
                    <button class="btn"><strong>+</strong> Comentarios</button>
                  </div>
                </div>
              </div> 
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<div class="modal fade modal-3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title text-center" id="myModalLabel"><img src="img/logo_servi-hogar.png"></h4>
      </div> 
      <div class="modal-body">
        <section id="mini-profiles">          
          <div class="container-fluid bg-white mt-35">
            <div class="row">
              <div class="profile-view">
                <div class="col-md-3">
                  <div class="profile-pic">
                    <img src="img/girl.jpg" class="img-circle img-responsive">
                    <h3>Lorena N.</h3>
                    <button class="job btn btn-sm btn-primary">CONTRATAR</button>
                    <br>
                    <a href="vistas/perfil.html" class=".text-primary "><h4>Ver perfil</h4></a>
                  </div>
                </div >
                <div class="col-md-6">
                  <div class="info">
                    <h2>Hola, soy Lorena.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                    <p>Soy una Server desde el <strong>2014</strong>.</p>
                    <p>He hecho <strong>57 servicios</strong>.</p>
                    <p>Soy<strong> muy eficaz</strong>.</p>
                    <p>Tengo un <strong>vehiculo</strong> si necesitas uno.</p>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="coment">
                    <h3><strong>96%</strong> Rating Positivo</h3> 
                    <p>"Lorena es una grandiosa persona, estoy muy feliz de haber contratado sus servicios, es muy eficiente. Me encantaria volver a contactarla."</p>
                    <button class="btn"><strong>+</strong> Comentarios</button>
                  </div>
                </div>
              </div> 
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<!-- END:PROFILE MODALS -->
