<%= content_for :title do %>
	Promo Kmitienda
<% end %>

<%= content_for :content do %>
	<div class="bienvenidos">
		Bienvenid<img src="assets/patita.png" alt="" width="32" height="32" id="patita" /> a tu kmitienda
	</div>
	<div class="entrar">
		<a href="https://kmimos.com.ve/tienda" class="boton" target="_blank">Entrar a la tienda</a>
	</div>
	<div class="envio">
		<span>¡</span>Envío GRATIS! 
	</div>
	<div class="mensaje">
		Disfruta de cualquiera de estos productos, y muchos más...
	</div>
	<div class="izquierda">
		<div class="producto-izq">
			<a href="https://kmimos.com.ve/mx/producto/juguete-peluche-perros-squiggles/" title="Juguete de Peluche para Perros Squiggles" target="_blank">
				<img src="assets/KOSQ3.jpg" width="120" height="120" alt="" />
			</a>
			<div class="precio">Mex $175.00</div>
		</div>
		<div class="producto-izq">
			<a href="https://kmimos.com.ve/mx/producto/hills-adult-original-370gr/" title="Hills Adult Original 370gr" target="_blank">
				<img src="assets/HI9437C-1.jpg" width="120" height="120" alt="" />
			</a>
			<div class="precio">Mex $49.00</div>
		</div>
		<div class="producto-izq">
			<a href="https://kmimos.com.ve/mx/producto/dog-chow-abrazzos-mix-del-campo/" title="Dog Chow Abrazzos Mix Del Campo" target="_blank">
				<img src="assets/PRO58169.jpg" width="120" height="120" alt="" />
			</a>
			<div class="precio">Mex $38.00</div>
		</div>
	</div>
	<div class="derecha">
		<div class="producto-der">
			<a href="https://kmimos.com.ve/mx/producto/frontline-top-spot-perro-med-insecticidas-perros-1p/" title="Frontline Top Spot Perro Med (Insecticidas Perros 1P)" target="_blank">
				<img src="assets/MERH016.jpg" width="120" height="120" alt="" />
			</a>
			<div class="precio">Mex $170.85</div>
		</div>
		<div class="producto-der">
			<a href="https://kmimos.com.ve/mx/producto/hills-canine-senior-7-400gr/" title="Hills Canine Senior 7+ 400gr." target="_blank">
				<img src="assets/HI7055C-1.jpg" width="120" height="120" alt="" />
			</a>
			<div class="precio">Mex $53.00</div>
		</div>
		<div class="producto-der">
			<a href="https://kmimos.com.ve/mx/producto/juguete-peluche-perro-forma-leopardo/" title="Juguete de Peluche para Perro En Forma de Leopardo" target="_blank">
				<img src="assets/MUL22373.jpg" width="120" height="120" alt="" />
			</a>
			<div class="precio">Mex $246.00</div>
		</div>
	</div>
	<div class="mensaje">que te serán entregados en la casa de tu cuidador de confianza.</div>
<% end %>