<div class="container pvp-7 ph-21">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-7">
      <span>Publicado el 2013&middot;10&middot;16</span>
      <div class="info">
        <div class="user">
          <div class="user-card user-card-round size xs">
            <div class="user-pic flex-middle">                        
              <% if @provider.avatar? %>
              <%= image_tag(@provider.avatar_url(:thumb), :class => "img-circle") %>
              <% else %>
              <%= image_tag('server_carnet.png', :class => "img-circle" ) %>
              <% end %>
            </div>
            <div class="user-info">
              <h1 class="text-primary m-0">Daniel Cáceres Villegas</h1>
              <span>Consectur adipiscing</span>
            </div>
          </div>
        </div>                
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quasi quod optio dolor ducimus minima consequatur aliquam repellendus enim, amet aperiam quia voluptatum, doloremque voluptatem quas autem sed eos nesciunt.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem laudantium quod pariatur neque veritatis, iste quasi corporis nemo. Excepturi dignissimos quis temporibus nostrum illum consequuntur quae! Deserunt quisquam, consequatur iusto.</p>
      <img src="assets/img/img.png" class="img-responsive mv-21">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In nam quibusdam vero aspernatur nesciunt temporibus atque placeat, tempora aliquid excepturi accusantium perspiciatis, veniam dolores, autem assumenda corporis quis eius. Porro.</p>
      <p>Lorem ipsum dolor sit amet, quis architecto cumque fuga? Sapiente sunt cumque totam iure eaque voluptatibus saepe minima.</p>
      <p>¡Le esperamos!</p>
    </div>
    <div class="col-md-3">
      <div class="content-article mt-14 mb-28 text-center m-21">
        <h4 class="light mb-0 text-gray">Desde</h4>
        <h3 class="m-7 text-secondary">Mex $200</h3>
        <h4 class="light mt-0 text-gray">por noche</h4>
        <a href="#" class="btn btn-primary btn-small btn-fold">Reservar</a>
        <a href="#"><h4 class="text-black">Conocer cuidador<br> en persona</h4></a>
      </div>
      <h4 class="text-warning medium-heading mb-0">Últimos Artículos</h4>
      <ul class="grid-list grid-list-1 grid-list-1-xs isotope-grid blog-grid">
        <li class="pl-0 mv-21">
          <div class="pic">
            <div style="background-image: url(assets/img/user_male.png);"></div>
          </div>
          <div class="content">
            <!-- <h5 class="text-primary">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h5> -->
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit facilis magnam ea minima.</p>
          </div>
        </li>
        <li class="pl-0">
          <div class="pic">
            <div style="background-image: url(assets/img/user_male.png);"></div>
          </div>
          <div class="content">
            <!-- <h5 class="text-primary">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h5> -->
            <p>Lorem ipsum dolor sit amet, autem ut recusandae facilis magnam ea minima.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>