// new
#error_explanation {
  color: red;
}

#provider_pictures_attributes_0_image {
  display: none;
}

.uneditable-input {
  border: none;
}

#file-display {
  font-size: 10px;
  width: 100%;
}
// new - ends

.proveedor-profile {
  background: white;
  border-right: 1px solid $gray-lighter;
  border-left: 1px solid $gray-lighter;
  border-bottom: 1px solid $gray-lighter;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.proveedor-profile-body {
  background: lighten($gray-lighter, 5%);
}

.event-color {
  background: $brand-primary !important;
  color: $gray-darker !important;
  border: white !important;
  opacity: 1 !important;
}

.proveedores-create-account {
  border-bottom: 1px solid $brand-primary;
}

.providers-dashboard-body {
  min-height: 768px;
  .perfil {
    min-height: 670px;
  }
}

.content {
  min-height: 768px;
}

.icon-box {
  border-top-left-radius: $border-radius-base;
  border-top-right-radius: $border-radius-base;
  border-left: 3px solid $brand-primary;
  border-right: 3px solid $brand-primary;
  border-bottom: 1px solid $gray-lighter;
  border-top: 3px solid $brand-primary;
  height: 220px;
  background: white;
}

.navbar {
  min-height: 21px;
}

.set-events-form {
  .control-label {
    padding-top: 3px;
  }
}
.alert-icon-col {
  height: 127px;
}



