/*
Errno::ENOENT: No such file or directory @ rb_sysopen - main.scss

Backtrace:
/home/action/.gem/ruby/2.1.1/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:360:in `read'
/home/action/.gem/ruby/2.1.1/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:360:in `update_stylesheet'
/home/action/.gem/ruby/2.1.1/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/home/action/.gem/ruby/2.1.1/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:201:in `each'
/home/action/.gem/ruby/2.1.1/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/home/action/.gem/ruby/2.1.1/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:283:in `block in watch'
/home/action/.gem/ruby/2.1.1/gems/sass-3.2.19/vendor/listen/lib/listen/multi_listener.rb:108:in `call'
/home/action/.gem/ruby/2.1.1/gems/sass-3.2.19/vendor/listen/lib/listen/multi_listener.rb:108:in `on_change'
/home/action/.gem/ruby/2.1.1/gems/sass-3.2.19/vendor/listen/lib/listen/multi_listener.rb:117:in `block in initialize_adapter'
/home/action/.gem/ruby/2.1.1/gems/sass-3.2.19/vendor/listen/lib/listen/adapter.rb:198:in `call'
/home/action/.gem/ruby/2.1.1/gems/sass-3.2.19/vendor/listen/lib/listen/adapter.rb:198:in `report_changes'
/home/action/.gem/ruby/2.1.1/gems/sass-3.2.19/vendor/listen/lib/listen/adapter.rb:210:in `poll_changed_dirs'
/home/action/.gem/ruby/2.1.1/gems/sass-3.2.19/vendor/listen/lib/listen/adapters/linux.rb:48:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory @ rb_sysopen - main.scss"; }
