<% flash.each do |key, value| %>
  <div class="row mb-0">
  	<div class="col-md-2">	
  	</div>
  	<div class="col-md-8 mt-63 mb-0">
  		<div class="alert alert-danger mt-21">
        <h5 class="book inline-block"><%= value %></h5>
  		</div>
    </div>
  </div>
<% end %>


