.ui-datepicker {
  th {
    font-family: "Graphie light" !important;
  } 
}

.ui-datepicker {
  .ui-datepicker-title {
    select {
     font-family: "Graphie light" !important;
     border-radius: 15px !important;
     border: none !important;
     padding-left: 7px !important;
    }
  }
}

.ui-datepicker-year {
  font-family: "Graphie light" !important;
  color: white !important;
}

.ui-datepicker {
  .ui-datepicker-header {
    background: #6cba9b !important;
    border: none !important;
  }
}  