/* #footer {
	.container {
		nav {
			a.btn-registrarse {
				padding: 12px 34px;
				background: rgba(255,255,255,0.5);
				color: #ED9213;
				border-radius: 8px;
			}
		}
	}
} */

#footer {
  .container {
    .col-sm-6 {
      h4 {
        text-align: right;
        @media #{$xs-only} {
          text-align: center;
        }
      }
    .col-md-4 {
      text-align: right;
        @media #{$xs-only} {
          text-align: center;
        }
      }
    }
    .redes-sociales {
      @media #{$xs-only} {
         margin-left: 30.33333%;
      }
    }
    .text-footer {
      @media #{$xs-only} {
        text-align: center;
      }
      @media #{$portrait} {
        text-align: center;
      }
    }
  }
}