#home-filters {
  // background: url(http://s3.postimg.org/9z6tol4jn/casa.jpg) no-repeat;
  background-image: url(http://s9.postimg.org/y5f8sf1zj/foto_modificada_05.png);
  min-height: 589px;
  background-size: cover;
  background-repeat: no-repeat;
  .text-fold {
    color: #7F4104;
  }

  ul {
    text-align: center;

    li {
      float: none;
      display: inline-block;
      padding: 0;

      a {
        position: relative;
        text-align: center;
        height: 100%;
        min-height: 100%;
        display: block;
        &:hover {
          opacity: 0.8;
        }

        img{
          width: 140px;
          border: 4px solid #FFF;
        }

        &:hover {
          background-image: url(../images/site-kmimos-15.png);
          .overlay {
          display: block;
          }
        }
      }
    }
  }
  .container-fluid {
    .row {
      .col-md-3 {
        &.ipad {
          @media #{$lg-only} {
            width: 30% !important;
          }
        .opciones {
          background: rgba(255,255,255,0.7);
          border-radius: 17px;
          .servicios {
            img {
              width: 120px;
            }
          }
        }
      } 
     }
    }
  }
}

#home-profiles .profile img {
  border-radius: 50%;
  width: 140px;
  padding: 2px;
  background: #71cfee;
}

#home-profiles .profile button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 5px; 
  border: 2px solid ;
  margin: 0 auto;
  width: 80%;
  height: 50px;
  font-size: 16px;
  text-align: center;
}

#home-profiles .profile {
  background: white;
  min-height: 300px; 
}

#home-profiles .container {
  position: relative;
  margin-top: 70px;
}

.container .content-wrapper img {
  position: absolute;
  top: -50px;
  left: 53px;  
}

#home-profiles .profile img {
  width: 140px;
  padding: 2px;
  background: #71cfee;
}

#home-profiles .container .content-wrapper .profile {
  padding: 100px 14px 14px 14px;
  border-radius: 7px;
}

#home-profiles .profile button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 5px; 
  border: 2px solid ;
  margin: 0 auto;
  width: 80%;
  height: 50px;
  font-size: 16px;
  text-align: center;
}

#footer {
  background-color: #7F4104;
}


#pasos {
  padding-left: 90px;
}

.demo {
  padding-left: 42%;
  padding-top: 5%;
}

#home-title {
  height: auto;
}

#meet-server {
  background-color: #F0EADB;
  height: auto;
}

#recomendar {
  background-image: url(http://s2.postimg.org/r3hnkchc9/foto_descuento_01.png);
  background-size: cover;
  min-height: 640px;
}

.server-des {
  background-color: $body-bg;
  border-radius: 20px;
  border: 5px solid $brand-primary;
}

.handshake {
  margin-left: 12px;
  margin-top: 10px;
}

.container-fluid {
  &.pasador {
    background-color: #6cba9b;
  }
  .flexslider {
    .slides {
      background-color: #6cba9b;
      li {
        .server-pic {
          text-align: center;
          padding-left: 100px;
          img {
            width: 200px;
          }
        }
        .server-desc {
          margin-bottom: 70px;
          color: white;
          text-shadow: none;
          a {
            border-radius: 21px;
            background-color: #F9F936;
            padding: 1px 28px;
            border: 2px solid white;
            color: black;
          }
        }
      }
    }
    .flex-control-nav {
      bottom: 0px;
      z-index: 1000;
      @media #{$lg-down} {
        bottom: 9px !important;
      }
    }
  }
}    

#text-yellow {
  color: #F9F42F;
}

#btn-recomendar {
  border-radius: 5px;
  color: white !important;
  padding: 12px 25px;
  background-color: #6cba9b;
  border: 1px solid white;
  &:hover {
    opacity: 0.8;
    color: white;
  }
}

#text-gray {
  color: #939191;
}

.text-graylight {
  color: #939191;
}

.text-gray {
  color: gray;
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}

.text-center {
  text-align: center;  
}

.sign-up {
  background: #FFDB00 !important; 
  color: black !important;
}

.log-in {
  background: none !important;
}
.text-h1 {
  font-size: 70px !important;
  font-weight: 100 !important;
  @media #{$xs-only} {
    font-size: 37px !important;
  } 
}

.text-h3 {
  font-size: 24px !important;
}

.bg-check {
  background: rgba(0,0,0,0.4);
  padding: 18px;
  margin-top: 136px;
}

.form-check {
  height: 40px !important;
  border-radius: 6px !important;
  background: url(http://s11.postimg.org/3yekqnerz/calendario_05.png) !important;
  background-position: right !important;
  background-repeat: no-repeat !important;
  background-color: white !important; 
}


.img-comillas-1 {
  width: 56px !important;
  left: 87%;
  position: relative;
  top: 25px;
}

.img-comillas-2 {
  width: 30px !important;
  position: relative;
  top: 126px;
  right: 20%;
}

.fz-30 {
  font-size: 30px !important;
}

.fz-40 {
  font-size: 40px !important;
}

.fz-50 {
  font-size: 50px !important;
}

.dsct-10 {
  font-size: 110px !important;
}

.text-description {
  line-height: 1.5 !important;
}

.img-logo {
  width: 190px !important;
}

.separator-lg {
  width: 163px !important;
  width: 18rem !important;
}

.separator-gray {
  border-top: 2px solid white !important;
  width: 28px;
  width: 2rem;
  height: 4px;
  height: 0.28571rem;
  @media #{$xs-only} {
    margin-right: 48px;
  }
}

.btn-login {
  &:hover {
    background: none !important;
  }
}

.hr-gray {
  margin-top: 49px !important;
  margin-bottom: 49px !important;
  border: 0;
  border-top: 2px solid #aaa !important;
}

.line-5 {
  line-height: 1.5 !important;
}

.col-xs-in {
  @media #{$xs-only} {
    padding-left: 0px;
    margin: 14px 0px;
  }
}

.col-xs-out {
  @media #{$xs-only} {
    padding-left: 0px !important;
    margin-bottom: 14px;
  }
}

.text-recomendar {
  @media #{$xs-only} {
    text-align: center;
    margin-right: 0px !important;
    margin-top: 100px !important;
  }
  h2 {
    @media #{$xs-only} {
      font-size: 41px !important;
    }
  }
}
.text-description {
  h3,
  h5,
  p {
    @media #{$xs-only} {
      text-align: center !important;
    }
  }
}