#home-filters {
  // background: url(http://s3.postimg.org/9z6tol4jn/casa.jpg) no-repeat;
  background-image: url(http://s22.postimg.org/deqqkyzi9/perro2.png);
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  .text-fold {
    color: #7F4104;
  }

  ul {
    text-align: center;

    li {
      float: none;
      display: inline-block;
      padding: 0;

      a {
        position: relative;
        text-align: center;
        height: 100%;
        min-height: 100%;
        display: block;
        .overlay {
          position: absolute;
          z-index: 30;
          font-size: 21px;
          width: 100%;
          background: rgba(0,0,0,0.8);
          height: 100%;
          top: 0;
          border-radius: 50%;
          padding-top: 56px;
          display: none;

          span {
            color: white;
          }
        }

        img{
          width: 140px;
          border: 4px solid #FFF;
        }

        &:hover {
          background-image: url(../images/site-kmimos-15.png);
          .overlay {
          display: block;
          }
        }
      }
    }
  }
  .container-fluid {
    .row {
      .col-md-3 {
        &.ipad {
          @media #{$lg-down} {
            width: 33.3% !important;
          }
        .opciones {
          background: rgba(255,255,255,0.7);
          border-radius: 17px;
          .servicios {
            img {
              width: 120px;
            }
          }
        }
      } 
     }
    }
  }
}

#home-profiles .profile img {
  border-radius: 50%;
  width: 140px;
  padding: 2px;
  background: #71cfee;
}

#home-profiles .profile button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 5px; 
  border: 2px solid ;
  margin: 0 auto;
  width: 80%;
  height: 50px;
  font-size: 16px;
  text-align: center;
}

#home-profiles .profile {
  background: white;
  min-height: 300px; 
}

#home-profiles .container {
  position: relative;
  margin-top: 70px;
}

.container .content-wrapper img {
  position: absolute;
  top: -50px;
  left: 53px;  
}

#home-profiles .profile img {
  width: 140px;
  padding: 2px;
  background: #71cfee;
}

#home-profiles .container .content-wrapper .profile {
  padding: 100px 14px 14px 14px;
  border-radius: 7px;
}

#home-profiles .profile button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 5px; 
  border: 2px solid ;
  margin: 0 auto;
  width: 80%;
  height: 50px;
  font-size: 16px;
  text-align: center;
}

#footer {
  background-color: #7F4104;
}


#pasos {
  padding-left: 90px;
}

.demo {
  padding-left: 42%;
  padding-top: 5%;
}

#home-title {
  height: auto;
}

#meet-server {
  background-color: #F0EADB;
  height: auto;
}

#listo {
  height: auto;
}

.server-des {
  background-color: $body-bg;
  border-radius: 20px;
  border: 5px solid $brand-primary;
}

.handshake {
  margin-left: 12px;
  margin-top: 10px;
}

.container-fluid {
  .flexslider {
    .slides {
      li {
        .carousel-caption {
          padding: 23px;
          margin-bottom: 70px;
          color: white;
          text-shadow: none;
          text-align: justify;
          img {
            border: 2px solid white;
            padding: 10px;
          }
          a {
            border-radius: 21px;
            background-color: #F9F936;
            padding: 1px 28px;
            border: 2px solid white;
            color: black;
          }
        }
      }
    }
    .flex-control-nav {
      bottom: 54px;
      z-index: 1000;
      @media #{$lg-down} {
        bottom: 9px !important;
      }
    }
  }
}    

#text-yellow {
  color: #F9F42F;
}

#btn-search {
  border-radius: 27px;
  padding: 12px 45px;
}

#text-gray {
  color: #939191;
}
