.container-fluid {
	padding-right: 15px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
	.header-navbar {
/* 		background: #ff9528; */
		.col-md-6 {
			.navbar-collapse {
				ul {
					li {
						a {
						color: white;							
						}
						.dropdown-menu {
							background: rgba(255,255,255,0.4);
							color: gray;
							border-radius: 4px;
							li {
								a {
									color: gray;
								}
							}
						}
					}
				}
			}
		}
	}
	.row {
		form {
			margin-left: 14px;
			margin-top: 52px;
			padding: 10px;
			color: white;
			margin: 0;
			.form-location-nav {
				border-radius: 11px;
				padding: 7px;
				margin: 2px;
				color: gray;
			}
			.form-servers-nav {
				border-radius: 11px;
				padding: 7px;
				margin-top: 2px;
				color: gray;
			}
			.form-search {
				border-radius: 5px;
        padding: 9px 23px;
        background: #6cba9b;
        color: white;
        margin-bottom: 0px !important;
			}
			.form-search:hover {
				color: white;
        opacity: 0.9;
			}
		}
	}
}
.container-fluid {
  .row{
    .col-md-8 {
      .col-md-3 {
        img {
          width: 150px;
        }
      }
      .btn-reservar {
        color: #fff;
        padding: 9px 35px;
        &:hover {
          opacity: 0.8;
        }
      }
      .col-md-4 {
        padding: 63px 0;
        .btn {
          padding: 3px 45px;
          margin-left: 14px;
        }
      }
    }
  }	
}

.fa-star {
	margin-left: -0.2em;
}

.fa-check {
	margin-left: -0.2em;
}

#dropdown-menu {
	background: rgba(255,255,255,0.4);
	border-radius: 4px;
	li {
		a {
			border: none;
		}
	}
}

.header-form {
    .form-location-nav {
    min-width: 320px;
    border-radius: 6px !important;
    padding: 15px !important;
    margin: 0 !important;
  }
}
.bg-navbar {
    background: rgba(0, 0, 0, 0.4);
    padding: 5px;
}

.list-profiles {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-bottom: 1px solid #bbb;
}

