// new
#error_explanation {
  color: red;
}

#provider_avatar {
  display: none;
}

.uneditable-input {
  border: none;
}

#file-display, #archivo-elegido {
  font-size: 11px;
  width: 100%;
}
// new - ends

.proveedor-profile {
  background: white;
  border-right: 1px solid $gray-lighter;
  border-left: 1px solid $gray-lighter;
  border-bottom: 1px solid $gray-lighter;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.proveedor-profile-body {
  background: lighten($gray-lighter, 5%);
}

.proveedores-create-account {
  border-bottom: 1px solid $brand-primary;
}

.providers-dashboard-body {
  min-height: 768px;
  .perfil {
    min-height: 670px;
  }
}

.content {
  min-height: 768px;
}

.icon-box {
  border-top-left-radius: $border-radius-base;
  border-top-right-radius: $border-radius-base;
  border-left: 3px solid $brand-primary;
  border-right: 3px solid $brand-primary;
  border-bottom: 1px solid $gray-lighter;
  border-top: 3px solid $brand-primary;
  height: 220px;
  background: white;
}

.navbar {
  min-height: 21px;
}

.set-events-form {
  .control-label {
    padding-top: 3px;
  }
}
.alert-icon-col {
  height: 127px;
}

/* Lista de mini perfiles */
.picture-perfil {
  padding: 14px 0px;
  height: 207px;
  background: #eee;
}

.text-description-1 {
  line-height: 1.5 !important;
  border-left: 1px solid #ccc;
  height: 207px;
}

/* Hover de la lista de perfiles */
.list-profiles:hover > .text-description-1 {
  background: #eee;
}

.list-profiles:hover > .picture-perfil {
  background: #D1D1D1;
}
/* END */

.rating-reviews {
  padding-left: 3px;
  .fa {
    padding-right: 3px;
  }
}
