.btn-how {
    background: rgba(108, 122, 137,0.7);
    border-style: none;
    color: white;
    font-size: 20px;
    font-size: rem(20px);
    border-color: #565a5c;
    &:hover {
      color: white;
    }
}

// .form-search {
//     display: block;
//     margin: 0 auto;
// }