<form action="/referrals" class="new_referral" data-model="referral" data-remote="true" id="new_referral" method="post" role="form">

  <div class="form-group">
    <label class="control-label" for="referral_referrer_name">Referrer name</label><br>
    <input class="form-control" id="referral_referrer_name" name="referral[referrer_name]" type="text">
    <span class="help-block"></span>
  </div>

  <div class="form-group">
    <label class="control-label" for="referral_referrer_email">Referrer email</label><br>
    <input class="form-control" id="referral_referrer_email" name="referral[referrer_email]" type="text">
    <span class="help-block"></span>
  </div>

  <div class="actions">
    <input class="btn btn-default" name="commit" type="submit" value="Submit">
  </div>

</form>

<script>
  $('#new_referral').submit(function(){
    var valuesToSubmit = $(this).serialize();
      console.log($(this).attr('action'));
       $.ajax({
           type: "POST",
           url: $(this).attr('action'), //sumbits it to the given url of the form
           data: valuesToSubmit,
           dataType: "JSON" // you want a difference between normal and ajax-calls, and json is standard
       }).success(function(json){
           //act on result.
           $('#new_code_modal .modal-body').html(json.referrer_name);
           console.log(json);
       });
       return false; // prevents normal behaviour
  })

</script>