<div class="row p-14">
  <div class="col-sm-2"><%= referral.code %></div>
  <div class="col-sm-2"><%= referral.referrer_name %></div>
  <div class="col-sm-2"><%= referral.referrer_email %></div>
</div>