%div{:style => "background-color: #F9F9F9"}
  %br
  %center        
    %h1{:style => "font-family: arial;font-weight: 300;color: gray; font-size: 18px"}
      ¡COMPLETA TU RESERVA! 
    %h2{:style => "font-family: arial;font-weight: 200;color: gray; font-size: 14px;padding-left:40px;padding-right:40px;"}  
      Consigue a continuación Hoteles para ti y tu Familia, Boletos de Avión, Transporte para tu Mascota, Accesorios y Productos          
  %table{:style => "width:100%"}
    %tr
      %td
        %p{:style => "font-family: Montserrat-Light;font-size: 15px;color: gray;line-height: 22px; padding-left:40px"}
          Los mejores precios en boletos de avión          
      %td
        = link_to 'https://www.volaris.com' do 
          %img{:src => "https://ucarecdn.com/a667d530-c201-4533-aefc-f60dcfa91fa4/Bannerboletosareosesqred.png", :style => "width: 210px;padding-right:5px"}   
    %tr
      %td
        %p{:style => "font-family: Montserrat-Light;font-size: 15px;color: gray;line-height: 22px;padding-left:40px"}
          Hoteles para ti y para tu familia!        
      %td    
        = link_to 'https://www.hoteles.com/kmimos' do 
          %img{:src => "https://ucarecdn.com/f2e0970c-70a1-4d34-ae45-172c339abc96/Bannerofertashotelesesqred.png", :style => "width: 210px;padding-right:5px"}  
    %tr
      %td
        %p{:style => "font-family: Montserrat-Light;font-size: 15px;color: gray;line-height: 22px;padding-left:40px"}
          Si no tienes como trasladar a tu mascota al veterinario o centro comercial, usa Cabify. 100% PetFriendly ! 
      %td    
        = link_to 'https://cabify.com' do 
          %img{:src => "https://ucarecdn.com/c37a2d17-b57f-40f1-b607-c8236ea60cab/Bannertransportemascotasesqred.png", :style => "width: 210px;padding-right:5px"}
    %tr
      %td
        %p{:style => "font-family: Montserrat-Light;font-size: 15px;color: gray;line-height: 22px;padding-left:40px"}
          Consigue todos los artículos que necesites para tu mascota       
      %td    
        = link_to 'http://kmimos.com.mx' do 
          %img{:src => "https://ucarecdn.com/eaede2f4-e52a-4ab9-a0b7-49c90cf0e40f/Banneraccesoriosesqred.png", :style => "width: 210px;"} 