- if current_user
  %h2 Mi Perfil
  %h2 Mis Reservas
- elsif current_provider
  %h2 Mi Perfil
  %h2 Salir
- else
  %h2 Iniciar Sesion como Cliente
  %h2 Iniciar Sesion como Proveedor
  %h2 Registrate
  %h2 Quiero ser cuidador