// Margins mobile
@for $h from -7 to 11 {
  @media only screen and (max-width: $screen-phone) and (max-width: $screen-tablet) {
    .m-#{$h*7}-mob {
      margin: em($h*7)!important;
    }
  }
}

@for $i from -7 to 11 {
  @media only screen and (max-width: $screen-phone) and (max-width: $screen-tablet) {
    .mt-#{$i*7}-mob {
      margin-top: em($i*7)!important;
    }
  }
}

@for $j from -7 to 11 {
  @media only screen and (max-width: $screen-phone) and (max-width: $screen-tablet) {
    .mb-#{$j*7}-mob {
      margin-bottom: em($j*7)!important;
    }
  }
}

@for $k from -7 to 11 {
  @media only screen and (max-width: $screen-phone) and (max-width: $screen-tablet) {
    .ml-#{$k*7}-mob {
      margin-left: em($k*7)!important;
    }
  }
}

@for $l from -7 to 11 {
  @media only screen and (max-width: $screen-phone) and (max-width: $screen-tablet) {
    .mr-#{$l*7}-mob {
      margin-right: em($l*7)!important;
    }
  }
}

    // Paddings mobile
@for $m from -7 to 11 {
  @media only screen and (max-width: $screen-phone) and (max-width: $screen-tablet) {
    .pt-#{$m*7}-mob {
      padding-top: em($m*7)!important;
    }
  }
}

@for $n from -7 to 11 {
  @media only screen and (max-width: $screen-phone) and (max-width: $screen-tablet) {
    .pb-#{$n*7}-mob {
      padding-bottom: em($n*7)!important;
    }
  }
}

@for $o from -7 to 11 {
  @media only screen and (max-width: $screen-phone) and (max-width: $screen-tablet) {
    .pl-#{$o*7}-mob {
      padding-left: em($o*7)!important;
    }
  }
}

@for $p from -7 to 11 {
  @media only screen and (max-width: $screen-phone) and (max-width: $screen-tablet) {
    .pr-#{$p*7}-mob {
      padding-right: em($p*7)!important;
    }
  }
}

@for $q from -7 to 11 {
  @media only screen and (max-width: $screen-phone) and (max-width: $screen-tablet) {
    .p-#{$q*7}-mob {
      padding: em($q*7)!important;
    }
  }
}