// RESPONSIVE FONT RESIZE
$em-base: $font-size-base;

html {
  font-size: $font-size-base;
  @media #{$sm-only} {
    font-size: $font-size-base - 2;
  }
  @media #{$xs-only} {
    font-size: $font-size-base - 3;
  }
}

// TEXT IN REMS
h1, .h1 { font-size: rem($font-size-h1); }
h2, .h2 { font-size: rem($font-size-h2); }
h3, .h3 { font-size: rem($font-size-h3); }
h4, .h4 { font-size: rem($font-size-h4); }
h5, .h5 { font-size: rem($font-size-h5); }
h6, .h6 { font-size: rem($font-size-h6); }
p, .p, ul { font-size: rem($font-size-base); }
small { font-size: rem($font-size-base - 2); }

@media #{$xs-only} {
  h1, .h1 { &.lead {font-size: rem($font-size-h1 + 3) !important;} }
  h2, .h2 { &.lead {font-size: rem($font-size-h2 + 3) !important;} }
  h3, .h3 { &.lead {font-size: rem($font-size-h3 + 3) !important;} }
  h4, .h4 { &.lead {font-size: rem($font-size-h4 + 3) !important;} }
  h5, .h5 { &.lead {font-size: rem($font-size-h5 + 3) !important;} }
  h6, .h6 { &.lead {font-size: rem($font-size-h6 + 3) !important;} }  
  .lead-ch {
    h1, .h1 { font-size: rem($font-size-h1 + 3) !important;}
    h2, .h2 { font-size: rem($font-size-h2 + 3) !important;}
    h3, .h3 { font-size: rem($font-size-h3 + 3) !important;}
    h4, .h4 { font-size: rem($font-size-h4 + 3) !important;}
    h5, .h5 { font-size: rem($font-size-h5 + 3) !important;}
    h6, .h6 { font-size: rem($font-size-h6 + 3) !important;}
    p, li   { font-size: rem($font-size-base + 3) !important;}
  }
}

@media #{$sm-only} {
  h1, .h1 { &.lead {font-size: rem($font-size-h1 + 12) !important;} }
  h2, .h2 { &.lead {font-size: rem($font-size-h2 + 12) !important;} }
  h3, .h3 { &.lead {font-size: rem($font-size-h3 + 12) !important;} }
  h4, .h4 { &.lead {font-size: rem($font-size-h4 + 12) !important;} }
  h5, .h5 { &.lead {font-size: rem($font-size-h5 + 12) !important;} }
  h6, .h6 { &.lead {font-size: rem($font-size-h6 + 12) !important;} }
  .lead-ch {
    h1, .h1 { font-size: rem($font-size-h1 + 12) !important;}
    h2, .h2 { font-size: rem($font-size-h2 + 12) !important;}
    h3, .h3 { font-size: rem($font-size-h3 + 12) !important;}
    h4, .h4 { font-size: rem($font-size-h4 + 12) !important;}
    h5, .h5 { font-size: rem($font-size-h5 + 12) !important;}
    h6, .h6 { font-size: rem($font-size-h6 + 12) !important;}
    p, li   { font-size: rem($font-size-base + 12) !important;}
  }
}







