/*
 * This is a manst file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery-ui
 *= require main 
 *= require style 
 *= require jquery.steps.css 
 *= require jquery.raty.css
 *= require jquery-timepicker-jt/jquery.timepicker
 *= require angular-rangeslider/angular.rangeSlider
 *= require select2.css
 *= require select2-bootstrap.css
 */

#license_terms {
  overflow-y: scroll;
}


.map{
    width: 100% !important;
    height: 200px !important;
}

.navbar .internal { 
  background-color: #59C9A8;
}

.home-scene {
  position: absolute;
  top: 280px;
  width: 90%;
  
}

.left-person {
  float:left;
  margin-top: -80px;
  padding-left: 210px;
}

.right-dogs {
  float: right;
}

.right-dogs img {
  margin: 20px;
} 

.fixed-ball {
  top: 250px;
  position: fixed;
}


.form-filter {
  margin-top: 30px;
  z-index: 5;
  width: 200px; 
  background-color: #515672;
  color: #fff;
  padding: 15px; 
  border-radius: 0px 15px 15px 0px;
}
 

.form-search {
  z-index: 5;
  width: 220px;
  position: fixed;
  background-color: #515672;
  color: #fff;
  padding: 15px;
  top: 20%;
  border-radius: 0px 15px 15px 0px;
}
 
.form-group {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.main-video {
  background-image: url('video.svg');
  background-size: 100% 100%;
}

.recomendation {
  
  text-align: center;
  padding: 20px;
  background-color: #fff;
  color: #445a6b;
}

.recomendation form {
  padding-left: 40px;
  padding-right: 40px;
}

.recomendation img {
  margin-top: -30px;
}

.svg-path {
  position: absolute;
  z-index: 10;
  top: 240px;
  left: 300px;
}


.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.main-video {
  padding-left: 27px;
  padding-right: 27px;
  padding-top: 30px;
}
 
.square-green {
  height: 200px;
}
 
 
.padding-0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
