/*
 
 *= require_self
 *= require jquery-ui
 *= require main
 *= require style
 *= require extra
 *= require jquery.steps.css
 *= require jquery.raty.css
 *= require jquery-timepicker-jt/jquery.timepicker
 *= require angular-rangeslider/angular.rangeSlider
 *= require slick-carousel/slick/slick
 *= require slick-carousel/slick/slick-theme
 *= require rzslider
 *= require new_styles
 *= require bootstrap-datetimepicker
 *= require select2.css
 *= require select2-bootstrap.css

 */

#license_terms {
  overflow-y: scroll;
}


.map{
    width: 100% !important;
    height: 200px !important;
}

.navbar .internal {
  background-color: #59C9A8;
}

.home-scene {
  position: absolute;
  top: 280px;
  width: 90%;

}

.left-person {
  float:left;
  margin-top: -80px;
  padding-left: 210px;
}


.fixed-ball {
  top: 250px;
  position: fixed;
}


.form-filter {
  z-index: 5;
  width: 200px;
  background-color: #515672;
  color: #fff;
  padding: 15px;
  border-radius: 0px 15px 15px 0px;
}


.form-search {
  z-index: 5;
  width: 220px;
  position: fixed;
  background-color: #516674;
  color: #fff;
  padding: 15px;
  top: 20%;
  border-radius: 0px 15px 15px 0px;
}

.form-group {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.main-video {
  background-image: url('video.svg');
  background-size: 100% 100%;
}

.recomendation {

  text-align: center;
  padding: 20px;
  background-color: #fff;
  color: #445a6b;
}

.recomendation form {
  padding-left: 40px;
  padding-right: 40px;
}

.recomendation img {
  margin-top: -30px;
}

.svg-path {
  position: absolute;
  z-index: 10;
  top: 240px;
  left: 300px;
}


.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.main-video {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 32px;
  height: 356px;
  width: 580px;
}

.square-green {
  height: 200px;
}


.padding-0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}


.home-scene {
  width: 93%;
}

.right-dogs {
  text-align: right;
  margin-top:40px;
}

.add_srv_btn {
  margin-top: 10px;
}