#footer {
  z-index: 1;
}

.footer-links {
  text-align: center;
}

.newsletter {
  display: none;
  
}

.url-link {
  display: none;
}

#a {
  height: 270px !important;
}
 
.c-hamburger {
  display: block;
  position: absolute;
  overflow: hidden;
  margin: 0;
  padding: 0;
  right: 5px;
  width: 48px;
  height: 48px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 22px;
  left: 8px;
  right: 8px;
  height: 4px;
  background: white;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  content: "";
}

.c-hamburger span::before {
  top: -10px;
}

.c-hamburger span::after {
  bottom: -10px;
}

.c-hamburger--htra {
   
  
  span {
    transition: transform 0.3s;
  }
  span::before {
    transform-origin: top left;
    transition: transform 0.3s, width 0.3s, top 0.3s;
  }
  span::after {
    transform-origin: bottom left;
    transition: transform 0.3s, width 0.3s, bottom 0.3s;
  }
} 

/* active state, i.e. menu open */
.c-hamburger--htra.is-active { 
}

.c-hamburger--htra.is-active span {
  transform: rotate(180deg);
}

.c-hamburger--htra.is-active span::before,
.c-hamburger--htra.is-active span::after {
  width: 50%;
}

.c-hamburger--htra.is-active span::before {
  top: 0;
  transform: translateX(-4px) translateY(2px) rotate(-45deg);
}

.c-hamburger--htra.is-active span::after {
  bottom: 0;
  transform: translateX(-4px) translateY(-2px) rotate(45deg);
}

.avatar-mobile {
  width: 70%;
  margin: 0px auto;
}

.body-provider-mobile {
  margin-bottom: 18px;
  text-align: center;
}

.p0-b-5 {
  padding:0;
  padding-bottom: 5%;
}

#myModal {
  .modal-dialog,
  .modal-content {
      height: 90%;
  }
  
  .modal-body {
      max-height: calc(100% - 185px);
      overflow-y: scroll;
  }
}

#drawers {
  display: none;
}

.panel-heading {
  font-size:18px;
}

.reservas {
  padding: 3% 10%;
  
  h1 {
    font-weight: bold;
    color: #637988;
    line-height: 41px;
    margin-bottom: 40px;
    text-align: center;
  }
  
  h2 {
    text-align: center;
    font-weight: bold;
    color: #637988;
    line-height: 41px;
  }
  .header {
    color: #637988 !important;
    line-height: 24px;
    .col-md-1 {
      border-top: 1px solid #e0e0e0;
      border-right: 1px solid #e0e0e0;
      border-bottom: 1px solid #e0e0e0;
      padding: 11px 15px 12px 15px;
    }
    .col-md-1:first-child {
      border-left: 1px solid #e0e0e0;
    }
  }
  .line {
    .col-md-1 {
      background-color: #fffff8;
      color: #435C70;
      line-height: 22px;
      padding: 4px 18px;
      border-right: 1px solid #e0e0e0;
      border-bottom: 1px solid #e0e0e0;
      height: 74px;
    }
    .col-md-1:first-child {
      border-left: 1px solid #e0e0e0;
    }
  }
  
}

.registration_wizard_user {
  .steps {
    padding: 0px 20%;
    ul { 
      li {
        width: 50% !important;
      }
    }
  }
}

.link_remove {
  margin: 20px 0px;
}

.add_pet {
  margin-bottom: 21px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  .col-md-3,
  .col-md-1,
  .col-md-2 {
    line-height: 34px;
  }
}
  
.hr-gray-booking {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  border: 0;
  border-top: 2px solid #ccc !important;
  margin-left: 14px;
  margin-right: 14px;
}  

.plr-14 {
  padding: 0px 14px;
}
  
  
@media screen and (max-width: 480px) {
  
  .user-card .user-pic img.avatar {
    width: 70%;
    margin-top:20px;
  }  
  
  .home-bkg {
    background-image: url("home-background.svg");
    background-size: cover;
    background-position: center; 
    display: table;
    max-height:520px;
    
    .h3 {
      font-size: 2rem;  
    }  
    
    .text-white{
      margin-bottom: 4rem;
    }
    
    .left-person {
      height: 200px;
      padding-left: 0px !important;
      margin-top:0px;
    }
    
    .right-dogs {
      text-align: right;
      margin-top:40px;
      
      .perro-vainilla {
        height: 60px;
      }
      .perro-bull-terrier {
        height: 90px;
      } 
    }
  }  
  
  #content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
    z-index: 2;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    #mobile-wrapper {
      background:#fff;
    }
  }  
  
  #drawers {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: auto;
      height: auto;
    
    h2 {
      font-size: 22px;
      padding-top: 20px;
    }
    
    #right-drawer {
      color: rgb(255, 255, 255);
      padding: 15px;
      text-align: center;
      background-color: rgb(10,46,71);
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      bottom: 0;
      left: auto;
      width: 265px;
      height: auto;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      -webkit-transition: width 0.3s ease;
         -moz-transition: width 0.3s ease;
          -ms-transition: width 0.3s ease;
           -o-transition: width 0.3s ease;
              transition: width 0.3s ease;
    }
  }  
  
  #myModal {
    .modal-dialog {
      height: 440px;
    }
    
    .modal-content {
      height: 440px;
    }
    
    .modal-body {
      height:220px;
    }
  }
  
  .hr-gray {
    margin: 20px 14px !important;
    border-top: 2px solid #ccc !important;
  }
  
  .add_service,
  .add_pet {
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-5,
    .col-md-6 {
      padding: 8px 0px;
    }
  }
  .table table {
    margin-bottom: 30px;
  }  
  
  
  .booking_pickup_time select,
  .booking_dropoff_time select {
      width: 70px;
      display: inline-block;
  }
  
  .btn {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .grey-button {
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;    
  }
  
  .alert_edit {
    margin-bottom:5px;
  }
  
  .provider_provider_attachments_photo {
    margin: 0px;
  }
  
  .fields {
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  .wizard > .steps {
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
  }  
  
  .wizard > .content {
    margin: 10px 0px;
  }
  
  #provider_check_in_4i,
  #provider_check_in_5i,
  #provider_check_out_4i,
  #provider_check_out_5i {
    width: 80px;
    display: inline-block;
  }
  
  .country_state {
    margin-bottom: 5px;
  }  
  
  .country_state_checkbox {
    line-height: 43px;
    padding: 0px;
  }
  
  .country_state_name {
    line-height: 40px;
  }
  
  .country_select_state {
    padding: 10px;
  }
  
  .bicol_checkboxes {
    padding-left: 15px;
    margin-top: 50px;
  }
  
  #provider_experiencia {
    width: 60px;
    margin-right: 5px;
  }
  
  .tricol_checkboxes .checkbox {
    width:100%;
  }
  
  .reservas {
    padding: 3% 3%;
    .seven-cols {
      display: none;
    }
    .ratingStars {
      display: inline-block;
    }
    .reserva {
      border: 1px solid #e0e0e0;
      background-color: #fffff8;
      margin-bottom:30px;
      padding-top:10px;
    }
  }
  
  .sign-up-form {
    margin-top: 0;
  }
  
  .pb-6 {
    padding-bottom: 6px !important;
  }
  
}

//Seven columns layouts

@media (min-width: 768px){
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    width: 100%;
    *width: 100%;
  }
}

@media (min-width: 992px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}

/**
 *  The following is not really needed in this case
 *  Only to demonstrate the usage of @media for large screens
 */    
@media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}

.add_service {
  margin-left: 14px !important;
  margin-right: 14px !important;
  margin-bottom: 21px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  .col-md-3,
  .col-md-1,
  .col-md-2 {
    line-height: 34px;
  }
  
  
}