.comment-container {
  .user-avatar {
    
  }
  .comment-body {
    padding-left: 0px !important;
    padding-right: 0px !important;
    .col-md-3 {
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
    .comment-text {
      .col-md-12 {
        p {
          padding-top: 40px;
          padding-bottom: 20px;
        }
        padding-left: 0px !important;
        padding-right: 0px !important;
      }
    }
  }
  .new_comment {
    
    .avatar {
      
    }
    
    padding-left: 0px !important;
    padding-right: 0px !important;
    .comment {
      .col-md-10 {
        padding-left: 0px !important;
        padding-right: 0px !important;
      }
    }
  }
}

.margin-auto{
  margin: 0 auto;
}

.inline{
  display: inline;
}

.body-provider {
    height: auto !important;
}



.pulse{
    width: 80px;
    height: 50px;
    margin-top: -32px;
    margin-left: auto;
    margin-right: auto;
    z-index: 5;
}

.pulse img{
  width: 100%;
}

.open-search{
  position: fixed;
  padding-top: 10px;
  z-index: 2;
  padding-bottom: 30px;
  bottom: 8px;
  width: 80px;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.pop-up{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.42);
  z-index: 10000000;
  display: block;
  position: absolute;
}

.close-popup{
  right: 17px;
  position: absolute;
}

.main-video-responsive{
  height: 200px !important;
  width: 380px !important;
  bottom: 0;
  left: 0;
  top: 0;
  margin: auto;
  position: absolute;
  right: 0;
}
