.comment-container {
  .user-avatar {
    
  }
  .comment-body {
    padding-left: 0px !important;
    padding-right: 0px !important;
    .col-md-3 {
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
    .comment-text {
      .col-md-12 {
        p {
          padding-top: 40px;
          padding-bottom: 20px;
        }
        padding-left: 0px !important;
        padding-right: 0px !important;
      }
    }
  }
  .new_comment {
    
    .avatar {
      
    }
    
    padding-left: 0px !important;
    padding-right: 0px !important;
    .comment {
      .col-md-10 {
        padding-left: 0px !important;
        padding-right: 0px !important;
      }
    }
  }
}

.margin-auto{
  margin: 0 auto;
}

.inline{
  display: inline;
}

.body-provider {
    height: auto !important;
}



.pulse{
    width: 80px;
    height: 50px;
    margin-top: -30px;
    margin-left: auto;
    margin-right: auto;
    background-color: #283848;
    z-index: 5;
    border-radius: 10px;
}


