 
/*MEDIA QUERY*/
@media only screen and (max-device-width: 1366px) and (orientation: portrait)   {
	.map{
        width: 750px !important;
	}
}
@media only screen and (max-device-width: 768px) and (orientation: portrait) {
	.map{
        width: 716px !important;
	}
}
@media only screen and (max-device-width: 484px) and (orientation: portrait) {
	.map{
        width: 595px !important;
	}
} 
@media only screen and (max-device-width: 484px) and (orientation: portrait){
	.map{
        width: 438px !important;
	}
} 
@media only screen and (max-device-width: 480px) and (orientation: portrait) {
	.map{
        width: 458px !important;
	}
} 
@media only screen and (max-device-width: 414px) and (orientation: portrait) {
	.map{
        width: 387px !important;
	}
} 
@media only screen and (max-device-width: 375px) and (orientation: portrait) {
	.map{
        width: 348px !important;
	}
} 
@media only screen and (max-device-width: 320px) and (orientation: portrait) {
	.map{
		width: 291px !important;
	}
} 
