.home {

}


.no-padding-margin {
  margin: 0px !important;
  padding: 0px !important;
}

.video {
  width: 100%    !important;
  height: auto   !important;
}

.res-toogle {
  border: 0px;
  margin-top: 1rem !important;

}

.icon-bar {
  background-color: #fff !important;
}


.navbar-collapse {
  background: #fff;
}

ul.navbar-nav li {
  display: flex;
  padding: 0px 1px;
  font-size: 24px;
}

.searcher {
  display: none;
  background-color: #283848; 
  color: #fff;
  text-align: center;
  position: fixed;
  bottom: 0px;
  z-index: 5;
   
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  border-radius: 10px;
}

.ratingStars img {
  height: 16px;
}

.valorations .ratingStars img {
  height: 12px;
}

.do_search {
  position: fixed;
  padding-top: 10px;
  z-index: 5;
  padding-bottom: 30px;
  bottom: 0px;
  height: 30px;
}

.do_search_main {
  position: fixed;
  padding-top: 20px;
  z-index: 5;
  padding-bottom: 40px;
  bottom: 0px;
  height: 30px;
  font-size: 18px;
  font-weight: 200;
  text-transform: capitalize;
  background-color: #55af8c;
  border: 2px solid #2E8262;
}

.do_search_main:hover {
  color: #F1F1F1 !important;
  background-color: #2E8262;
}
.green_button_inside {
  width: 100%;
  height: 30px;
  background-color: #4ba07e;
  border: none;
  color: #fff;
  text-align: center;
  padding: 4px;
  font-weight: bold;
}

.navbar .navbar-collapse ul li a {
  padding: 10px 17px;
}

.comment-container .user-avatar {
  display: none !important;
}

.provider-item {
  overflow: hidden;
}

.collapse {
  display: none !important;
}
