.home {

}


.no-padding-margin {
  margin: 0px !important;
  padding: 0px !important;
}

.video {
  width: 100%    !important;
  height: auto   !important;
}

.res-toogle {
  border: 0px;
  margin-top: 1rem !important;

}

.icon-bar {
  background-color: #fff !important;
}


.navbar-collapse {
  background: #fff;
}

ul.navbar-nav li {
  display: flex;
  padding: 0px 1px;
  font-size: 24px;
}

.searcher {
  display: none;
  background-color: #283848; 
  color: #fff;
  text-align: center;
  position: fixed;
  bottom: 0px;
  z-index: 5;
   
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  border-radius: 10px;
}

.do_search {
  position: fixed;
  padding-top: 10px;
  z-index: 5;
  padding-bottom: 30px;
  bottom: 0px;
}

.navbar .navbar-collapse ul li a {
  padding: 10px 17px;
}

.comment-container .user-avatar {
  display: none !important;
}

.provider-item {
  overflow: hidden;
}
