<!doctype html>
<html>
	<head>
		<meta charset="utf-8" <title>
		<link rel="stylesheet" href="css/style.css">
		<style>
			.container {
				margin: 0 auto;
			  width: 620px;
				padding: 25px;
			}
			.container-sm {
		    width: 419px;
  			padding-left: 14px;
  			padding-right: 14px;
  			margin: 0 auto;
			}
			p {
				font-family: Trebuchet MS;
				color: #9a9c9c;
			}
		</style>
	</head>
	<body>
		<div class="container" style="margin: 0 auto;padding: 25px;">
			<div class="header">
				<table>
					<thead>
						<tr>
							<td class="logo">
								<img src="http://s23.postimg.org/qsnxkl9av/isotipo_mail_confirmacion.png">
							</td>
						</tr>
					</thead>
				</table>
			</div>
			<div class="container-sm">
				<tbody>
					<tr>
						<td>
							<h1 style="font-family: arial;font-weight: 100;color: gray;">Hola <%= @meeting.user_first_name %>,</h1>
						</td>
					</tr>
					<tr>
						<td>
							<p>Muchas gracias por haber solicitado conocer a un cuidador de Kmimos.</p>
							<p>Abajo los detalles de tu solicitud:</p>
						</td>
					</tr>
					<table>
            <tr>
					    <td><p style="margin: 0;">Nombre del cuidador</p></td>
					    <td><p style="margin: 0;">: <%= @meeting.provider.name %>  <%= @meeting.provider.last_name_1 %></p></td>
					    <td> </td>
					  </tr>
					</table>
					<table>
            <tr><td><p>¡Gracias!</td></tr>
            <tr><td><p>Roberto de Kmimos</p></td></tr>

						<tr>
							<td>
								<p>Durante las próximas 24 horas recibirás una llamada telefónica o te contactaremos por correo electrónico para coordinar la reunión en persona con el cuidador que seleccionaste.</p>
								<p>Cualquier pregunta no dudes en contactarnos al +55 1791 4931 / 55 6578 6147.</p>
								<p>¡Gracias!</p>
								<p>El equipo de  &nbsp;<img src="http://s1.postimg.org/n12q65th7/logo_mail_confirmacion.png" alt="" style="top: 1px; position: relative;"></p>
							</td>
						</tr>
					</table>
					
					<table>
					  <tr>
					  	<td><img src="http://s24.postimg.org/c5rfifgph/banner_mail_confirmacion.png" alt="" style="  margin-bottom: 28px;"></td>
					    
					  </tr>
					</table>
				</tbody>
			</div>
			<footer  style="background:#1dba9a; padding: 4px 12px;">
				<table>
					<tr>
						<td>
							<p  style="color:white; margin-right: 17px; margin-left: 12px;">Contáctanos: +55 1791 4931 / 55 6578 6147 </p>
						</td>

						<td><a href="http://www.cani.mx/" style="color: white; margin-right: 88px; text-decoration: none;">www.cani.mx</a></td>
						<td><p style="color:white; margin-right: 14px;">Síguenos en: </p></td>
						<td>
						<a href="https://www.facebook.com/pages/Kamimos/1473614136234432?ref=bookmarks"><img src="http://s17.postimg.org/r4ttx53vf/facebook_mail_confirmacion.png" alt="" style="margin-right: 3px;"></a>
						<a href="https://twitter.com/KmimosMx"><img src="http://s12.postimg.org/gdclxk795/twitter_mail_confirmacion.png" alt=""></a></td>
					</tr>
				</table>
				
			</footer>
		</div>
	</body>
</html>