<p>Hola <%= @meeting.user_first_name %>,</p>
<p>Muchas gracias por haber solicitado conocer a un cuidador de Kmimos.</p> 
<br>
<p>Abajo los detalles de tu solicitud: </p>

<p>Nombre del cuidador: <%= @meeting.provider.name %>  <%= @meeting.provider.last_name_1 %></p>

<p>Durante las próximas 24 horas recibirás una llamada telefónica o te contactaremos por correo electrónico para coordinar la reunión en persona con el cuidador que seleccionaste.</p>

<p>Cualquier pregunta no dudes en contactarnos al +55 3455 0138.</p>

<p>¡Gracias!</p>
<p>Roberto de Kmimos</p>
