/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.flash-alert {
  width: 100%; 
  top: 50px;
}

.alert {
  position: relative;
  .icon-type-box {
    padding: 14px;
    text-align: center;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    &::before {
      font-family: "fontawesome";
      color: white;
      font-size: em(21);
    }
  }
  .text-box {
    padding-top: 14px;
  }
  .close-icon {
    position: absolute;
    top: 1px;
    right: 1px;
    color: $brand-danger;
    z-index: 30;
  }
}

.alert-type-success,
.alert-type-info,
.alert-type-warning,
.alert-type-danger {
  background: white;
  margin: 0;
  padding: 0;
  p {
    margin: 0;
    padding: 0;
  }
}

.alert-type-success {
  border: 2px solid $brand-primary;
  .icon-type-box {
    background: $brand-primary;
    &::before {
      content: "\f00c";
    }
  }
}

.alert-type-info {
  border: 2px solid $brand-info;
  .icon-type-box {
    background: $brand-info;
    &::before {
      content: "\f129";
    }
  }
}

.alert-type-danger {
  border: 2px solid $brand-danger;
  background-color: $brand-danger;
  .icon-type-box {
    background: $brand-danger;
    &::before {
      content: "\f00d";
    }
  }
}

.alert-type-warning {
  border: 2px solid $brand-warning;
  .icon-type-box {
    background: $brand-warning;
    &::before {
      content: "\f071";
    }
  }
}

.error-404 {
  font-size: em(80);
}










