%h3 Ha ocurrido un error al crear una reserva

%ul
  %li
    %b Hora:
    = Time.now
  %li 
    %b Proveedor:
    = @provider
  %li
    %b Parametros:
    = @params
  %li
    %b Error :
    = @error.inspect