<% flash.each do |key, value| %>
  <div class="row mb-0">
  	<div class="col-md-2">	
  	</div>
  	<div class="col-md-8 mt-63 mb-0">
  		<div class="alert <%= alert_type(key) %> mt-21">
    			<div class="clearfix">
      			<div class="col-sm-1 text-center icon-type-box">
        			<i class="fa <%= icon_type(key) %> fa-mars-double"></i>
      			</div>
      		  <div class="col-sm-11 text-box">
        			<h5 class="book inline-block"><%= value %></h5>
      		  </div>
    			</div>
  		</div>
  <% end %>
  	</div>
  </div>
