<% flash.each do |key, value| %>
<div class="row mb-0">
	<div class="col-md-4">	
	</div>
	<div class="col-md-4 mt-63 mb-0">
		<div class="alert <%= alert_type(key) %> mt-21">
  			<div class="clearfix">
    			<div class="col-md-1 icon-type-box">
      				<i class="icon-type"></i>
    			</div>
    		<div class="col-md-11 text-box">
      			<small class="book inline-block text-muted"><%= value %></small>
    		</div>
  			</div>
		</div>
<% end %>
	</div>
</div>
