<div id="footer" class="mt-70-mob">  
  <section class="bg-success pt-21 pb-21">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-xs-4">
          <h4 class="text-white">Contáctanos: +55 3455 0138 </h4>
        </div>
        <div class="col-md-4">
          <div class="col-sm-6 pl-0">
            <h4 class="left text-white text-right">Síguenos en </h4>
          </div>
          <div class="col-sm-6">
            <a href="https://www.facebook.com/pages/Kamimos/1473614136234432?ref=bookmarks">
              <i class="fa fa-facebook-square text-white fa-3x pull-left"></i> 
            </a>
            <a href="https://twitter.com/KmimosMx">
              <i class="text-white fa fa-twitter-square fa-3x pull-left"></i>
            </a>
          </div>
        </div>
        <div class="col-md-4 text-muted text-right">
          <h5>Todos los derechos reservados<h5>
        </div>
      </div>
    </div>
  </section>
</div>

<script type="text/javascript">
setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName("script")[0];
a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0022/5945.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>
<!-- crazyegg begins -->
<script type="text/javascript">
setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName("script")[0];
a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0029/3661.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>
<!-- crazyegg ends -->