%meta{:charset => "utf-8"}/
%meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
%meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1", :name => "viewport"}/
/ Project SEO
%meta{:content => "", :name => "description"}/
%meta{:content => "", :name => "keywords"}/
%meta{:content => "", :name => "author"}/
/ Responsiveness
%meta{:content => "width=device-width, initial-scale=1.0, user-scalable=no", :name => "viewport"}/
/ Open Graph
%meta{:content => "website", :property => "og:type"}/
%meta{:content => "http://www.cani.mx", :property => "og:url"}/
%meta{:content => "Kmimos", :property => "og:title"}/
%meta{:content => "Kmimos", :property => "og:site_name"}/
%meta{:content => "Conéctate con gente de confianza para consentir a tu mascota como se merece.", :property => "og:description"}/
%meta{:content => "http://s22.postimg.org/deqqkyzi9/perro2.png", :property => "og:image"}/
/ Twitter Cards
%meta{:content => "", :name => "twitter:card"}/
%meta{:content => "", :name => "twitter:title"}/
%meta{:content => "", :name => "twitter:url"}/
%meta{:content => "", :name => "twitter:description"}/
%meta{:content => "", :name => "twitter:site"}/
%meta{:content => "", :name => "twitter:creator"}/
%meta{:content => "", :name => "twitter:image"}/