<p>Hola <%= @resource.email %>!</p>

<p> Alguien ha solicitado un enlace para el cambio de contrase単a. Para continuar debes hacer click en el siguiente enlace

<p><%= link_to 'Cambiar Contrase単a', edit_password_url(@resource, reset_password_token: @token, :subdomain => "mx") %></p>

<p>Si nos hecho esta solicitud, ignore este correo</p>
<p>Tu contrase単a no cambiara hasta que accedas al link y registres una nueva contrase単a </p>