.container.content.mh-630.mb-70
  .row.mt-35
    .col-md-2
    .col-md-8
      %h3.text-align-center Deja tu mascota en las mejores manos
      .panel.panel-primary
        .panel-heading.mb-21.text-gray.text-align-center
          Registra tus datos para que tú y tu perrito vivan la experiencia Kmimos
        .panel-body
          = simple_nested_form_for(@user, :html => {:multipart => true}) do |f|  
            .registration_wizard_user
              = render partial: 'step1', locals: {f: f}
              = render partial: 'step2', locals: {f: f} 
              = render partial: 'terms', locals: {f: f}
 
- if Rails.env.production?
  :javascript
    mixpanel.track("Crear cuenta como Cliente");            


:javascript
  
  $(".registration_wizard_user").steps({
      headerTag: "h3",
      bodyTag: "section",
      transitionEffect: "slideLeft",
      autoFocus: true,
      labels: {  
              finish: "Registrarme",
              next: "Continuar",
              previous: "Anterior" 
          },
      onFinished: function () { 
        $('#myModal').modal(); 
        _gaq.push(['_trackEvent', 'Homepage', 'Recomendar-modal-trigger']);
      }
  });


  